[ req ]
default_bits       = 4096
default_md         = sha256
prompt            = no
distinguished_name = dn
x509_extensions   = ext

[ dn ]
C  = US
ST = State
L  = City
O  = Organization
OU = Department
CN = *.homebox.com

[ ext ]
basicConstraints = critical,CA:FALSE