@use "theme" as *;

.bar {
  background: $base00;
  color: $base05;
  border-bottom: 1px solid $base02;
  padding: 6px 12px;
}

.bar-section {
  color: $base05;
}

.clock {
  color: $base0D;
  font-weight: 700;
}
